@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Poppins';
}
.error-text,
.error-icon{
    display: none;
}
.intro{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    padding: 100px 0;
}
 .reg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 /* background-color: firebrick;  */
     padding: 0 30px; 
    max-width: 1300px; 
     margin: 0 auto; 
    
} 
.left{
    flex: 1;
    margin-bottom: 50px;
}


.left h1{
    color: white;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;

}
.left p{
    color: white;
    font-size: 18px;
        line-height: 30px;
}
.right{
    flex: 1;
}
.right .top {
    padding: 15px 90px;
    background-color: hsl(248, 32%, 49%);
    color: #fff ;
    border-radius: 15px;
    box-shadow: 0 5px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 30px;
}
.right .top p{
    font-size: 21px;
    color: red;
    line-height: 35px;
}
 p span{
    font-weight: 700;
}
